.main {
    padding: 20px !important;
    flex: 1 0 auto !important;
}
/* Estilos base (mobile-first) */
html, body {
    font-size: 16px;
    padding: 10px;
    background-color: black !important; 
    height: 100%;
    color:white !important;
    height: 100%; 
    margin: 0;
    padding: 0;
}
body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}
head {
    background-color: #252423;
}

/* ------------------------------------ DIV TEMA --------------------------------- */
.tema { 
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
    background-color: #2b2a29;
    color:white;
    border-radius: 20px;
}
.respuesta_tema {
    border: 2px solid black;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #2b2a29;
    color:white;
    border-radius: 20px;
    margin-top: 10px;

}

.tema:hover {
    background-color: #3a3939;
    cursor:pointer; 
}

.respuesta_tema:hover {
    background-color: #3a3939;
}


.contenido_publicacion{
    flex-grow: 1;
}

.publication-content h2 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.datos {
    margin-top: 10px;
}

.datos p {
    margin: 5px 0;
    color: #cccccc;
}

.borrar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 10px;
    margin-bottom: 5px ;
}

.borrar img {
    width: 20px; 
    height: 20px;
    filter: invert(1); 
}

.borrar:hover img {
    filter: brightness(1.2); 
}

.avatar { /*foto de perfil */
    border-radius: 50%;
    cursor:pointer;
    border: 5px solid black;
}
.avatar_publi{
    border-radius: 50%;
}
.avatar:hover{
    border-color:#2b2a29;
}

.titulo_tema, .titulo_respuesta{ /* foto de perfil y nombre de usuario */
    display: flex;
    gap: 10px;
    align-items: center;

}

.info_publi { /* div que contiene: visitas, respuestas y likes */
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}


.like:hover {
    filter: brightness(70%); 
}

/* ------------------------------------ FOOTER --------------------------------- */

footer {
    background-color: #111; 
    color: #fff; 
    padding: 20px 40px; 
    font-family: Arial, sans-serif; 
    /* bottom: 0; */
    width: 100%;
    /* z-index: 1000; */
}
.footer_contenedor {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.logo {
    height: 50px;
    margin-bottom: 10px;
}

.iconos-redessociales {
    display: flex;
    gap: 15px;
    border-radius: 50%;
}

.iconos-redessociales a img {
    height: 24px;
    filter: brightness(0) invert(1); 
    transition: 0.1s;
}

.iconos-redessociales a:hover img {
    filter: brightness(1);
}

.footer_copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    font-size: 12px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding-right: 20px;
}

.back-to-top {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: 0.1s;
}

.back-to-top:hover {
    text-decoration: underline;
    color: #cccccc;
}
/* ------------------------------------ HEADER --------------------------------- */
.div_header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center !important;
    border-bottom: #2b2a29 2px solid;
}
.icono_main {
    height: 85% !important;
    margin-bottom: 15px;   
    width:300px !important;     
}
.profile {
    margin-right: 15px;
}

.insertar_tema{
    background-color: #000000; 
    border: none;
    color: white; 
    padding: 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.3s ease; 
    height: 60px;
}

.buscar_tema{
    border: 2px solid;
    background-color: #000000; 
    border-color: white;
    color: white; 
    padding: 15px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    margin: 4px 2px; 
    cursor:text; 
    border-radius: 50px;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: 20px;
    width: 500px;
}
.buscar_tema:hover, .login_boton:hover, .login_usr:hover, .password_usr:hover, .enviar_respuesta:hover, .boton_guardar_avatar:hover{
    background-color: #2b2a29;
}
.login_boton, .insertar_foto_tema, .boton_insertar_tema, .enviar_respuesta, .boton_guardar_avatar{
    border: 2px solid white;
    background-color: #000000; 
    color: white; 
    padding: 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 50px; 
    transition: background-color 0.3s ease;
    height: 40px;
    line-height: 0px;
    margin-top: 20px;
    margin-right: 100px;
}

.insertar_tema:hover, .boton_insertar_tema:hover{
    background-color: #2b2a29;
}
.imagen_suma, .icono_lupa {
    filter: brightness(0) invert(1);
}

.menu_perfil {
    position: absolute;
    top: 70px; 
    right: 0;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: none; 
    width: 150px;
    z-index: 100;
    margin-top: 11px;
    margin-right: 5px;
}

.menu_perfil a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu_perfil a:hover {
    background: #444;
    border-radius: 10px;
}

.menu_perfil.show {
    display: block;
    animation: fadeIn 0.2s ease-in-out;
}

/* ------------------------------------ LOGIN Y REGISTRO --------------------------------- */
.div_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: white 2px solid;
    border-radius: 50px;
    padding: 15px;
    background-color: #181818;
    text-align: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login_main{
    background-image: url('imagenes/fondos/fondo_grieta.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%;
    margin-top: 0%;
}
.login_usr, .password_usr, .reg_nombre, .reg_password, .reg_email {
    border: 2px solid white;
    color: #000000;
    background-color: white !important;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 4px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: 20px;
    width: 250px;
}
/* quitar doble borde de la caja de texto, forzar fondo negro*/
.login_usr:focus, .password_usr:focus, .reg_nombre:focus, .reg_password:focus, .reg_email:focus, .buscar_tema:focus {
    outline: none;
    /* background-color: #000000 !important; */
}

.submit_login, .submit_registrarse{
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: 20px;
    width: 205px;
}
.submit_login:hover, .submit_registrarse:hover {
    background-color:#353433;
    color: white;
}
.error_login {
    color: red;
}

.ver_ocultar_password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    padding-top: 17px;
    background: none;
    border: none;
    cursor: pointer;
}


/* ------------------------------------ INSERTAR TEMA --------------------------------- */
.titulo_insertar_tema{
    border: 2px solid;
    background-color: #000000; 
    border-color: white;
    color: white; 
    padding: 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px; 
    margin: 4px 2px; 
    cursor:text; 
    border-radius: 50px; 
    transition: background-color 0.3s ease; 
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    width: 500px;
}
.contenido_tema, .contenido_respuesta {
    width: 100%;
    max-width: 600px; 
    height: 150px;
    padding: 10px;
    font-size: 16px;
    background: #1c1c1c;
    color: #f8f9fa; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    resize: vertical; 
    outline: none;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    resize: none;
}

.file_tema { /* utiliza los mismos estilos principales que el boton login */
    opacity: 0;
}

.div_insertar_tema {
    display: flex;
    justify-content: center; 
    margin-left: 20%;
}

.estadisticas {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    justify-content: space-around;
    border-top: white 2px solid;
    margin: 50px 50px;
}

.foto_nombre {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top:50px ;
}

.boton_cambiar_avatar {
    display: none;
}

.boton_guardar_avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icono_cambiar_avatar {
    width: 25px;
    height: 30px;
    padding-bottom: 5px;
    filter: invert(1) brightness(100%);
    cursor: pointer;
    margin-right: 40px;
    margin-top: 40px;
}

.icono_cambiar_avatar:hover {
    filter: invert(1) brightness(60%);
}

/* ------------------------------------ COOKIES --------------------------------- */

.mensaje_cookies {
    position: fixed; 
    bottom: 0; 
    background: #333; 
    color: #fff; 
    width: 100% !important; 
    text-align: center; 
    padding: 10px;
}

.icono_cookies {
    margin-right: 10px;
}